In [27]:
# Importing required Libraries

import pandas as pd
from tabulate import tabulate
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

In [23]:
data = pd.read_csv(r"movie.csv")

In [24]:
data

    age  gender      genre
0    20       1     Action
1    23       1     Action
2    25       1     Action
3    26       1   Thriller
4    29       1   Thriller
5    30       1   Thriller
6    31       1      Drama
7    33       1      Drama
8    37       1      Drama
9    20       0  Animation
10   21       0  Animation
11   25       0  Animation
12   26       0   Romantic
13   27       0   Romantic
14   30       0   Romantic
15   31       0    Musical
16   34       0    Musical
17   35       0    Musical

In [25]:
# Processing data for out requirement

X = data.drop(columns=['genre'])
Y = data['genre']

In [28]:
XTrain, XTest, YTrain, YTest =train_test_split(X,Y,test_size=0.2)
model = DecisionTreeClassifier()
model.fit(XTrain,YTrain)
prediction = model.predict(XTest)
table = tabulate(XTest, headers='keys', tablefmt='fancy_grid', showindex=False)
print("Prediction for \n\n", table , "\n\n", prediction)

score = accuracy_score(YTest, prediction)
score

Prediction for

 ╒═══════╤══════════╕
│   age │   gender │
╞═══════╪══════════╡
│    20 │        0 │
├───────┼──────────┤
│    30 │        1 │
├───────┼──────────┤
│    25 │        0 │
├───────┼──────────┤
│    26 │        0 │
╘═══════╧══════════╛

 ['Animation' 'Thriller' 'Animation' 'Romantic']

1.0